.track {
  display: flex;
  flex-flow: column;
  width: 83px;
  min-height: 380px;
  text-align: center;

  background: #808080;
  background-size: contain;
}

.trackControls {
  display: flex;
}

.track:first-child {
  margin-left: auto;
}

.track:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-size: 1em;
  font-weight: 700;
  flex: 1 1 auto;

  color: #fff;
  overflow: hidden;

  padding: 4px 8px;

  cursor: pointer;
  transition: all 80ms ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: none;
  outline: none;
  background-color: #454545;
  position: relative;
}

.button:not(:last-child):not(.isPressed)::after {
  content: '|';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-55%);
}

.button:hover {
  transform: translateY(1px);
}

.isPressed {
  background-color: #e728ea;
}

.mute,
.reset,
.bypass {
  position: relative;

  display: flex;

  margin: 8px 8px 16px;
}

.sends {
  font-size: 0.8rem;

  margin-top: 10px;
}

.send {
  width: 60%;
  height: 26px;
  margin: 0 auto 10px;
}

.sendTitle {
  font-weight: bold;

  display: inline-block;
  overflow: hidden;

  width: 100%;

  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #555;
  text-shadow: 1px 1px 0 #eee;
}

.title {
  line-height: 44px;
  min-height: 44px;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}
