.desk {
  font-size: 0.8em;

  position: relative;

  width: 100%;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  background-color: #3b3b3b;
}

.tracks {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

.controlsContainer {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  color: #fff;
}

.controls {
  padding: 16px 84px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.controlsLeft {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 64px;
}

.controlsLeft button:last-child {
  margin-left: 28px;
}

.controlsCustom {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.controlsRight {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.button {
  font-size: 0;
}

.button,
.controlButton {
  background-color: transparent;
  border: 0;
}

.button path,
.controlButton path {
  fill: #fff;
}

.controlButton {
  margin: 0 36px;
}

.button:hover,
.controlButton:hover {
  border: 0;
}

.isNotActive path {
  fill: #808080;
}

.isActive path {
  fill: #fff;
}

.button:hover path,
.controlButton:hover path {
  fill: #e728ea;
}

.button:active,
.isButtonPressed {
  transform: translateY(2px);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.18);
}

.button[disabled] {
  color:#808080;
}

.button[disabled] path, .button[disabled] text {
  fill: #808080;
}

.effects {
  font-size: 0.8rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.progressContainer {
  position: relative;
  width: 100%;
}

.progressBar {
  background-color: #e728ea;
  height: 8px;
  opacity: 0.77;
  transition: width 0.5s ease;
  will-change: width;
}

.progressTimeNow, .progressTime {
  position: absolute;
  top: 16px;
  font-size: 22px;
  font-weight: 400;
}

.progressTimeNow {
  left: 16px;
}

.progressTime {
  right: 16px;
}

.masterVolume {
  display: flex;
  align-items: center;
}

.masterVolumeContainer {
  position: relative;
  margin-left: 18px;
}

.masterVolumeBar {
  width: 170px;
  height: 11px;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
}

.masterVolumeBar div {
  background-color: #ba14bd;
  height: 11px;
  border-radius: 8px;
}

.masterVolumeKnob {
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 23px;
  position: absolute;
  top: -50%;
  margin-left: -16px;
  margin-top: -1px;
}

@media only screen and (max-width: 375px) {
  .tracks,
  .controlsContainer {
    max-width: 100%;
    margin-bottom: 8px;
  }
}

